<app-navigation></app-navigation>
<img src="assets/food-image.jpg" class="img-fluid" alt="Responsive image">
<div class="bg-white p-5">
  <div class="container md-5">
    <div class="row justify-content-center">
      <div class="col col-md-10">
        <h1>Join to OmOmFood!</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-10">
        <h5>Are your ready to join us?</h5>
      </div>
    </div>
    <form>
      <div class="row justify-content-center">
        <div class="col col-md-4 px-1">
          <input type="text" class="form-control" placeholder="Enter city">
        </div>
        <div class="col col-md-4 px-1">
          <input type="text" class="form-control" placeholder="Enter date">
        </div>
        <div class="col col-md-2 px-1">
          <button type="submit" class="btn btn-primary">OmOm!</button>
        </div>
      </div>
    </form>
  </div>
</div>
